---
import Container from "@components/container.astro";
import Cta from "@components/cta.astro";
import Features from "@components/features.astro";
import SaveMillions from "@components/saveMillions.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="">
  <Container>
    <div>
      <h1
        class="mt-8 text-5xl lg:text-6xl xl:text-7xl font-bold my-4 lg:tracking-tight xl:tracking-tighter text-center">
        Easy mode.
      </h1>
      <h2 class="center text-3xl mt-4 font-semibold text-slate-600 text-center">
        Extending your product should feel effortless. Even fun.
      </h2>

      <br /><br />
    </div>

    

    <h2 class="text-2xl mt-12 lg:text-3xl font-bold lg:tracking-tight">
      Getting Started
    </h2>

    <p class="text-lg mt-4 text-slate-600">
      <strong>Traditional mod support in business software is hard (if it exists at all).</strong><br />
      You have to research how it works, apply for "developer access", setup servers, figure out webhooks and proxying, get IT support to provision it and actually write the code. All this before "hello world".
    </p>

    <p class="text-lg mt-4 text-slate-600">
      <strong>It doesn't have to be.</strong><br />
      With Moddable, it starts with a curious user clicking "add custom feature".<br />
      
      They immediately get a code editor and a running sample mod. No setup. No servers. No approval required.<br />
      They recognize it (we use the most common setup: React + TypeScript + Tailwind).<br /><br />
      
      Curious, they make a change. It's instantly reflected in the preview window!<br /><br />
      
      Before they know it, they've built two things:<br />
      1. A custom feature that helps their workflow.<br />
      2. The confidence that they can build whatever their business needs - directly inside of your platform.

    </p>



    <h2 class="text-2xl mt-12 lg:text-3xl font-bold lg:tracking-tight">
      Editor
    </h2>

    <p class="text-lg mt-4 text-slate-600">
      When they click "manage custom features" they instantly get a running code editor. The same one in VS Code (the most popular code editor).<br />
      Autocomplete, linting, shortcuts etc. all just work.
    </p>

    <h2 class="text-2xl mt-12 lg:text-3xl font-bold lg:tracking-tight">
      Modern Stack
    </h2>

    <p class="text-lg mt-4 text-slate-600">
      We use the most popular stack: React + TypeScript + Tailwind. All of this "just works". And it will be instantly recognizable to any developer.
    </p>


    <h2 class="text-2xl mt-12 lg:text-3xl font-bold lg:tracking-tight">
      Sample Mods
    </h2>

    <p class="text-lg mt-4 text-slate-600">
      The user can choose from a selection of templates you define as the starting point. They open a template and just modify it to their needs. It also helps inspire them with use-cases they may not have thought of.<br /><br />

      It's also a great way to highlight any platform context and helper functions you defined (see <a class="blue-link" href="/platform">platform building</a>).  Show them what's possible!
    </p>


    <h2 class="text-2xl mt-12 lg:text-3xl font-bold lg:tracking-tight">
      Seamless Auth
    </h2>

    <p class="text-lg mt-4 text-slate-600">
      The user never has to create a Moddable account. They're <i>already</i> logged in to your platform. We use the same session to authenticate them.<br />

      User created mods can act as the signed in user too.
    </p>


    <h2 class="text-2xl mt-12 lg:text-3xl font-bold lg:tracking-tight">
      About Cognitive Load
    </h2>

    <p class="text-lg mt-4 text-slate-600">
      For a user to extend your platform easily - it has to be low cognitive load. It's not just about the technical effort. It's about how natural and easy it feels to get started.<br /><br />

      Every mod support system that's been attempted so far feels difficult and intimidating. We put a "add custom feature" button into your product, and curious users will click, see the editor, make a change, and instantly experience an "Oh wow!" moment.<br /><br />

      This makes it so easy and inviting that everyday users (not just professional devs/system integrators) from all types of role will create extensions.
    </p>
  </Container>
</Layout>
