---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "Instant custom features",
    description:
      "Users can extend your product in literally minutes.",
    icon: "bi:lightning-charge-fill",
  },
  {
    title: "Embedded Code Editor",
    description:
      "Users simply click to open an editor, change a few lines, and save.",
    icon: "heroicons-solid:code",
  },
  {
    title: "Template Gallery",
    description:
      "You can create a gallery of sample mods users can use as a starting point.",
    icon: "carbon:prompt-template",
  },
  {
    title: "Better DevX than Salesforce!",
    description:
      "Give your product a better mod experience than giants like Salesforce.",
    icon: "fluent:window-dev-tools-16-regular",
  },
  {
    title: "Batteries Included",
    description:
      "React, TypeScript, autocomplete/lint, NPM packages, and Tailwind by default.",
    icon: "mdi:battery-medium",
  },
  {
    title: "On-Brand",
    description:
      "Set default styles which automatically apply your design-system to all mods.",
    icon: "fa-solid:paint-roller",
  },
  {
    title: "Seamless Auth",
    description:
      "Users never see a login screen. Mods can inherit the user's auth tokens.",
    icon: "bx:lock-open",
  },
  {
    title: "5 Minute Install",
    description:
    "It's absurd how easy it is to embed Moddable in your product.",
    icon: "tabler:click",
  },
  {
    title: "Context Matters",
    description:
      "User mods can use a context object you supply. Pass whatever you need.",
    icon: "bx:bxs-bot",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    From Product to Platform.
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Mod-support is easily the most powerful feature in B2B software.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16 mb-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
