---
// @ts-ignore
---

<br /><br />
<div class="">
  <h2 class="text-2xl lg:text-3xl font-bold lg:tracking-tight">
    Save <i>literally millions</i> of dollars...
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Companies like Salesforce, Shopify, Monday, etc. have all recognized the value of mod-support.<br />
    But it's cost them all $millions per year to provide it.<br /><br />

    Moddable gives you a <strong>better</strong> dev platform than these companies.<br />
    So yeah... drinks are on you!
  </p>
</div>
